<div *ngIf="dataUploaded">
  <mat-card>
    <img
      style="width: 400px; height: 100px; margin-left: 10vw"
      src="../assets/logo.jpg"
    />
    <h2>Your Interview is succesfully booked</h2>
  </mat-card>
</div>
<div class="parentCard" *ngIf="!dataUploaded">
  <mat-card style="padding: 3rem 3rem 2rem; width: fit-content" class="matCard">
    <!-- <img style="width: 400px; height: 100px" src="../assets/logo.jpg" /> -->
    <h1>Looped in Code</h1>
    <form [formGroup]="enquiryForm" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
        /> </mat-form-field
      ><mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
        />
      </mat-form-field>
      <h2 style="margin: 0">Interview Slots</h2>
      <p style="font-size: 12px; font-weight: 500; color: darkslategray">
        All these are slots are based on EST so select slots based on that
      </p>
      <div class="grid grid1">
        <span
          *ngFor="
            let date of [
              '15 June 2021',
              '16 June 2021',
              '17 June 2021',
              '18 June 2021',
              '19 June 2021',
              '20 June 2021'
            ]
          "
        >
          <button type="button" mat-stroked-button (click)="getDate(date)">
            {{ date }}
          </button>
        </span>
      </div>
      <br />
      <br />
      <br />
      <div *ngIf="showTime">
        <h3>Book your Interview time</h3>
        <!-- <div class="grid"> -->
        <span *ngFor="let time of timeSlots">
          <button
            style="margin: 10px"
            type="button"
            class="timeslot_buttons"
            mat-stroked-button
            [disabled]="!time.available"
            (click)="timeSelected(time.time)"
            *ngIf="time.date == date"
          >
            {{ time.time + " pm" }}
          </button>
        </span>
        <!-- </div> -->
        <br />
      </div>
      <h4 class="notice" style="color: red">
        <span>
          *Email your Resumé at
          <a
            class="notice"
            style="text-decoration: none; color: red"
            target="_blank"
            href="mailto:info@loopedincode.com"
            type="email"
          >
            info@loopedincode.com</a
          >
          before the interview
        </span>
      </h4>
      <h3 *ngIf="showFinalStatement">
        Your Interview is scheduled for: {{ date + "  " + time + " pm" }}
      </h3>
      <button
        (click)="onSubmit()"
        mat-raised-button
        style="background-color: red; color: aliceblue"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
<!-- <mat-card style="background-color: black; color: red">
  Developed by
  <a
    style="background-color: black; color: red; text-decoration-line: blink"
    href="mailto:info@loopedincode.com"
  >
    Looped In Code</a
  >
</mat-card> -->
