.parentCard {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100px;
}

.matCard {
  width: 80vw;
  margin-top: 8vh;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
