@import "../styles.scss";

.parentCard {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100px;
}
body {
  background-color: #a4a4a496 !important;
}
mat-label {
  font-size: 18px !important;
  font-weight: 500 !important;
}
.grid {
  display: flex;
  // grid-template-columns: 18% 18% 18% 18% 18%;
  gap: 1rem;
  flex-wrap: wrap;
}
.grid1 {
  // grid-template-columns: 22% 22% 22% 22% ;
}
h1 {
  font-size: 48px;
  text-align: center;
  margin: 18px 0 36px !important;
  line-height: 54px;
}
.matCard {
  width: 80vw;
  margin-top: 8vh;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}
// @keyframes blink {
//   from {
//     color: red;
//     background-color: black;
//   }
//   to {
//     color: black;
//     background-color: red;
//   }
// }
